// btn 默认背景颜色
$button-bg-color1: #C6AC8D;
$button-bg-color2: #A28869;

// header组件默认背景颜色
$header-component-bg-color1: #969FAB;
$header-component-bg-color2: #5D6672;
$header-component-bg-color3: #969FAB;

// 页面指示器组件
$pagenavigate-component-circle-bg-color1: #F8DBA2;
$pagenavigate-component-circle-bg-color2: #D5AB66;
$pagenavigate-component-circle-border-color: #999;
$pagenavigate-component-text-color: #BD9148;
