// header组件背景渐变
$header-component-bg-color1: #A0D696;
$header-component-bg-color2: #529746;
$header-component-bg-color3: #A0D696;

//  页面指示器组件
$pagenavigate-component-circle-bg-color1: #8086A7;
$pagenavigate-component-circle-bg-color2: #272D56;
$pagenavigate-component-circle-border-color: #C2C7E5;
$pagenavigate-component-text-color: #374186;

// button 背景颜色
$button-bg-color1: #C6AC8D;
$button-bg-color2: #A28869;
