.noscroll,
.noscroll body {
  overflow: hidden;
}
.noscroll body {
  position: relative;
}

.prompt-text {
  padding: $form-padding-top 0 $form-padding-bottom $primary-padding-bottom;
  padding-left: 0.3rem;
  font-size: $middle-font-size;
}

.login-button {
  margin-top: 0.43rem;
}

.sms-code {
  height: 1rem;
  width: 2rem;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: $bg-color;
  font-size: $small-font-size;
  color: #999;
}

.able-activity {
  background-color: #ffefea;
  color: #ff6633
}
.login{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.login-bg{
  width: 100%;
  height:12.2rem;
  position: fixed;
  top: 0;
  left: 0;
  ::-webkit-input-placeholder{
    opacity: 0.5 !important;
  }
  .form-filed{
    position: relative;
  }
  .form-wrap .form-filed::after{
    border-bottom:1px solid #d5d5d5 !important;
  }
}

.login-logo{
  width: 2.55rem;
  height: 0.51rem;
  margin: 0.7rem auto;
}
.delete-img{
  width: 0.44rem;
  height: 0.28rem;
  position: absolute;
  right: 0.3rem;
}
