$primary-padding-bottom: 0.3rem;
$primary-font-size: 0.36rem;
$middle-font-size: 0.32rem;
$small-font-size: 0.28rem;

$primary-color: #444;
$bg-color: #f5f5f5;

$padding-left: 0.3rem;

// form 表单
$form-border-color: #eee;
$form-label-color: #444; 
$form-label-width: 2rem;
$form-padding-top: 0.29rem;
$form-padding-bottom: 0.29rem; 

